apiVersion: v1
kind: ConfigMap
metadata:
    name: prometheus-config
data:
    prometheus.yml: |
        global:
          scrape_interval: 5s
        scrape_configs:
          - job_name: 'url-api'
            static_configs:
              - targets: ['url-api-service:8000'] 

          - job_name: 'url-worker'
            static_configs:
              - targets: ['url-worker:8001']
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: prometheus
spec:
    replicas: 1
    selector:
        matchLabels:
            app: prometheus
    template:
        metadata:
            labels:
                app: prometheus
        spec:
            containers:
                - name: prometheus
                  image: prom/prometheus:latest
                  args:
                      - "--config.file=/etc/prometheus/prometheus.yml"
                      - "--storage.tsdb.path=/prometheus"
                      - "--storage.tsdb.retention.time=15d"
                  ports:
                      - containerPort: 9090
                  resources:
                      requests:
                          cpu: "250m"
                          memory: "256Mi"
                      limits:
                          cpu: "500m"
                          memory: "512Mi"
                  volumeMounts:
                      - name: config-volume
                        mountPath: /etc/prometheus/
                      - name: storage-volume
                        mountPath: /prometheus
            volumes:
                - name: config-volume
                  configMap:
                      name: prometheus-config
                - name: storage-volume
                  emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
    name: prometheus
spec:
    selector:
        app: prometheus
    type: ClusterIP
    ports:
        - port: 9090
          targetPort: 9090
